<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Reqres API test Suite" verbose="4"
	thread-count="4" parallel="tests">

	<test name="Reqres Api Test">
		<classes>
			<class name="com.reqres.apiTest.HttpGetMethodsTest" />
		</classes>
	</test>


</suite>